In [1]:
# Install the dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
!tar xf spark-3.0.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
# Set the environment variables for running PySpark in the collaboration environmentimport os
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"

In [3]:
# Run the local session to test the installation
import findspark
findspark.init('spark-3.0.1-bin-hadoop3.2')
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [10]:
# Create a DataFrame
data_df = spark.createDataFrame([("product1", 100),("product1", 300),("product2", 150),("product2", 50), ("product3",75)],["name","amount"])

In [11]:
# Group the same names together, aggregate their amounts, and compute an average
avg_df = data_df.groupBy("name").agg(avg("amount"))

In [12]:
# Show the results
avg_df.show()

+--------+-----------+
|    name|avg(amount)|
+--------+-----------+
|product3|       75.0|
|product1|      200.0|
|product2|      100.0|
+--------+-----------+