In [1]:
!wget -q https://archive.apache.org/dist/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!tar xf spark-3.3.1-bin-hadoop3.tgz
!rm /content/spark-3.3.1-bin-hadoop3.tgz
!mv /content/spark-3.3.1-bin-hadoop3 /content/apache_spark

In [4]:
import sys, os

In [5]:
sys.path.append("/content/apache_spark/python/lib/py4j-0.10.9.5-src.zip")
sys.path.append("/content/apache_spark/python")

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/apache_spark"

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType,ArrayType
from pyspark.sql.functions import col,lit,array_contains
from pyspark.sql.functions import sum,avg,max,min,mean,count
from pyspark.sql.functions import udf

In [7]:
spark = SparkSession.builder.master('local[*]').enableHiveSupport().appName("SparkTest").getOrCreate()

In [9]:
data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])

df = spark.createDataFrame(data=data,schema=schema)

In [10]:
def main(employee_name):
  return df.filter(df.firstname == employee_name).show(truncate=False)

In [11]:
main('Robert')

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|Robert   |          |Williams|42114|M     |4000  |
+---------+----------+--------+-----+------+------+

In [ ]:
!python pyspark_job.py --employee_name='Robert'

In [ ]:
!${SPARK_HOME}/bin/spark-submit pyspark_job.py --employee_name='Maria'