In [1]:
#импорт библиотек
import pandas as pd
import numpy as np

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop2.7"

In [6]:
# Install the dependencies
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-bin-hadoop2.7.tgz
!pip install -q findspark

In [7]:
# Run the local session to test the installation
import findspark
findspark.init('spark-3.0.0-bin-hadoop2.7')
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [13]:
from pyspark.sql.types import *

idColumn = StructField('id', IntegerType(),True)
regionColumn = StructField('region',StringType(),True)
managerColumn = StructField('manager',StringType(),True)
productColumn = StructField('product', StringType(),True)
amountColumn = StructField('amount', IntegerType(),True)

columnList = [idColumn, regionColumn, managerColumn, productColumn, amountColumn]

salesDfSchema = StructType(columnList)

salesDf = spark.read.csv('drive/My Drive/Colab Notebooks/demo_sales.csv', schema = salesDfSchema, header = True, sep=";")
salesDf.show()

+---+------+-------+-------+------+
| id|region|manager|product|amount|
+---+------+-------+-------+------+
|  1|   AAA| Ivanov|     a1|   100|
|  2|   BBB|Sidorov|     a1|   150|
|  3|   DDD| Petrov|     b2|   250|
|  4|   BBB|Sidorov|     a1|   350|
|  5|   DDD| Petrov|     b2|   250|
|  6|   FFF| Ivanov|     a3|   100|
|  7|   BBB|Sidorov|     a3|   150|
|  8|   DDD| Petrov|     b2|   250|
|  9|   BBB|Sidorov|     a1|   350|
| 10|   DDD| Petrov|     b2|   250|
+---+------+-------+-------+------+

In [20]:
salesDf.createOrReplaceTempView('salesDfSQL')

outputDf = spark.sql('select * from salesDfSQL').show()

+---+------+-------+-------+------+
| id|region|manager|product|amount|
+---+------+-------+-------+------+
|  1|   AAA| Ivanov|     a1|   100|
|  2|   BBB|Sidorov|     a1|   150|
|  3|   DDD| Petrov|     b2|   250|
|  4|   BBB|Sidorov|     a1|   350|
|  5|   DDD| Petrov|     b2|   250|
|  6|   FFF| Ivanov|     a3|   100|
|  7|   BBB|Sidorov|     a3|   150|
|  8|   DDD| Petrov|     b2|   250|
|  9|   BBB|Sidorov|     a1|   350|
| 10|   DDD| Petrov|     b2|   250|
+---+------+-------+-------+------+

In [21]:
spark.sql('Describe salesDfSQL').show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|      id|      int|   null|
|  region|   string|   null|
| manager|   string|   null|
| product|   string|   null|
|  amount|      int|   null|
+--------+---------+-------+

In [29]:
spark.sql("select region, manager,product, amount \
            from salesDfSQL \
            where product='a1'").toPandas().head()

  region  manager product  amount
0    AAA   Ivanov      a1     100
1    BBB  Sidorov      a1     150
2    BBB  Sidorov      a1     350
3    BBB  Sidorov      a1     350